<ion-tabs tabsPlacement="bottom">
  <ion-tab [root]="Promocoes" tabTitle="Promoções" tabIcon="md-flame"></ion-tab>
  <ion-tab [root]="Orcamento" tabTitle="Orçamento" tabIcon="home"></ion-tab>
  <ion-tab [root]="Produtos" tabTitle="Produtos" tabIcon="md-list"></ion-tab>
  <ion-tab [root]="Manuais" tabTitle="Manuais" tabIcon="md-book"></ion-tab>
</ion-tabs>
