<ion-content>

  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-slides pager>

  <ion-slide *ngFor="let promocao of promocoes">
    <img src='http://www.precisionsistemas.com.br{{promocao.imagem}}' style='width: 100%;' />
  </ion-slide>

</ion-slides>
</ion-content>
