<ion-header>
  <ion-navbar>
    <ion-title>
      Manuais
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <img src="./assets/logomarca.png" style='width: 70%; margin: 10px 15%;'>
  <form (ngSubmit)="pesquisar()">
    <ion-list>
      <ion-item>
        <ion-label floating>Pesquisar</ion-label>
        <ion-input type="text" name="pesquisa" [(ngModel)]="pesquisa"></ion-input>
      </ion-item>
    </ion-list>
    <div padding>
      <button ion-button block color="primary" name="button">Pesquisar</button>
    </div>
  </form>
  <ion-card *ngIf="total_manuais == 0">
    <ion-card-header>Ops</ion-card-header>
    <ion-card-content>Infelizmente nenhum manual está disponível no momento. Tente novamente em outro momento.</ion-card-content>
  </ion-card>

  <ion-list *ngIf="total_manuais > 0">
    <ion-item (click)="ver_manual(manual.id)" *ngFor="let manual of manuais">
      <h2>{{manual.titulo}}</h2>
      <button ion-button clear item-right><ion-icon name="md-eye"></ion-icon></button>
    </ion-item>
  </ion-list>
</ion-content>
