<ion-header>
  <ion-navbar>
    <ion-title>Orçamento</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <img src="./assets/logomarca.png" style='width: 70%; margin: 10px 15%;'>
  <h2 text-center color="primary">Peça um orçamento</h2>
  <form (ngSubmit)="submit()">
    <ion-list>
      <ion-item>
        <ion-label color="primary" floating>*Nome para contato</ion-label>
        <ion-input [(ngModel)]="nome" required name="nome"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary" floating>*E-mail</ion-label>
        <ion-input [(ngModel)]="email" required name="email" type='email'></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary" floating>*Telefone</ion-label>
        <ion-input [(ngModel)]="telefone" required name="telefone" type='tel'></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary" floating>*Empresa</ion-label>
        <ion-input [(ngModel)]="empresa" required name="empresa"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary" floating>*Descreva sua solicitação</ion-label>
        <ion-textarea [(ngModel)]="descricao" required name="descricao"></ion-textarea>
      </ion-item>

      <button type='submit' style="margin-top: 20px;" ion-button block color="primary">Solicitar</button>
    </ion-list>
  </form>
</ion-content>
