<ion-header>
  <ion-navbar>
    <ion-title>
      Produtos
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="cards-bg">
  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <img src="./assets/logomarca.png" style='width: 70%; margin: 10px 15%;'>
  <form (ngSubmit)="pesquisar()">
    <ion-list>
      <ion-item>
        <ion-label floating>Pesquisar</ion-label>
        <ion-input type="text" name="pesquisa" [(ngModel)]="pesquisa"></ion-input>
      </ion-item>
    </ion-list>
    <div padding>
      <button ion-button block color="primary" name="button">Pesquisar</button>
    </div>
  </form>
  <ion-card *ngIf="total_produtos == 0">
    <ion-card-header>Ops</ion-card-header>
    <ion-card-content>Infelizmente nenhum produto está disponível no momento. Tente novamente em outro momento.</ion-card-content>
  </ion-card>

  <div *ngIf="total_produtos > 0">
    <ion-card (click)="ver_produto(produto.id)" *ngFor="let produto of produtos">
      <img src="http://www.precisionsistemas.com.br/admin/imagens/produtos/{{produto.imagem}}"/>
      <ion-card-content>
        <ion-card-title text-center style="font-size: 1.5rem">
          {{produto.titulo}}
          </ion-card-title>
        <p>

        </p>
      </ion-card-content>
      <ion-row no-padding>
      <ion-col text-center>
        <button ion-button clear small color="primary" icon-left>
          <ion-icon name='eye'></ion-icon>
          Ver
        </button>
      </ion-col>
    </ion-row>
    </ion-card>
  </div>

</ion-content>
