<ion-header>
  <ion-navbar>
    <ion-title>
      Manual
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <img src="./assets/logomarca.png" style='width: 70%; margin: 10px 15%;'>
  <ion-card>
    <h3 color="primary">{{manual.manual.titulo}}</h3>
    <ion-card-content style="text-align: justify;" color="primary" [innerHTML]="manual.manual.conteudo"></ion-card-content>
  </ion-card>
</ion-content>
