<ion-header>
  <ion-navbar>
    <ion-title>
      {{produto.produto.titulo}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <img src="./assets/logomarca.png" style='width: 70%; margin: 10px 15%;'>
  <ion-card>
    <img src="http://www.precisionsistemas.com.br/admin/imagens/produtos/{{produto.produto.imagem}}">
    <h3 color="primary" text-center>{{produto.produto.titulo}}</h3>
    <ion-card-content style="text-align: justify" color="primary" [innerHTML]="produto.produto.descricao"></ion-card-content>
    <ion-card-content style="text-align: justify" color="primary" [innerHTML]="produto.produto.conteudo"></ion-card-content>
  </ion-card>
</ion-content>
